.background {
    background-color: var(--color-cream);
    padding-top: 80px;
}

.sectionForm {
    max-width: 1440px;
    margin: 120px auto 0;
    display: flex;
    gap: 40px;
}

.textBlockForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.headerForm {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: var(--color-brown);
    text-align: left;
}

.textForm {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: var(--color-brown);
    text-align: left;
}

.textUnderliningForm {
    border-bottom: 3px solid var(--color-caramel);
}

.textAllocationForm {
    color: var(--color-caramel);
}

.imageForm {
    transform: rotate(16deg);
}

.contactForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: var(--color-brown);
}

.labelForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}

.inputForm,
.textareaForm {
    width: 100%;
    border: 4px solid var(--color-brown);
    border-radius: 40px;
    background: var(--color-white);
    padding: 18px 40px;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
}

.inputForm::placeholder,
.textareaForm::placeholder {
    color: var(--color-brown);
    font-weight: 400;
    font-size: 24px;
    text-align: left;
}

.textareaForm {
    min-height: 160px;
    resize: none;
}

.groupForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titleForm {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}

.checkboxForm {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color-brown);
}

.checkboxForm input {
    display: none;
}

.customCheckbox {
    width: 40px;
    height: 40px;
    border: 4px solid var(--color-brown);
    border-radius: 6px;
    position: relative;
    background-color: var(--color-white);
    z-index: 0;
}

/* галочка */
.checkboxForm input:checked+.customCheckbox::after {
    content: "✔";
    position: absolute;
    top: -7px;
    left: 4px;
    font-size: 35px;
    color: var(--color-brown);
}