#root {
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.textFatty {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: var(--color-dark);
}

.main {
  flex: 1;
}